/* 
 *  MENU DE NAVEGACAO 
 */

#menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    height: 70px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu #menu-logonav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logotipo {
    width: 130px;
    height: 49px;
    font-size: 0;
    background: url('../images/logo/logotipo-menu.png') center center no-repeat;
}

#menu #nav {

}

#menu #nav a {
    text-transform: uppercase;
    margin-right: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    opacity: .8;
}
#menu #nav a:last-child {
    margin-right: 0;
    opacity: 1;
}
#menu #nav a:hover {
    opacity: 1;
}

/* 
 *  SLIDE
 */

#slide {
    position: relative;
    height: 468px;
}

#slide #slide-images {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}

#slide #slide-images > *{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slide #slide-images .slide-image:nth-child(1) {
    animation-delay: 5s;
    background: url(../images/slide/1.jpg) center -305px / 100% auto no-repeat;
}

/* redes sociais no slide */

#slide #slide-social {
    position: absolute;
    z-index: 15;
    bottom: 30px;
    left: calc( 50% - 502.5px );
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#slide #slide-social .slide-social-icon {
    width: 30px;
    height: 30px;
    border: solid #fff 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: .5s all;
}

#slide #slide-social .slide-social-icon:hover {
    transform: rotate(-45deg)
}

#slide #slide-social .slide-social-icon .fa, 
#slide #slide-social .slide-social-icon .fab,
#slide #slide-social .slide-social-icon .fas {
    color: #fff;
}

/* 
 *  ABOUT
 */

#about {
    padding: 60px 0
}

#about .row-center {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#about #about-title {
    width: 835px;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
}
#about #about-text {
    width: 835px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;

} 

/* 
 *  PORTEFOLIO
 */

#portfolio {
    padding-bottom: 60px;
}

#portfolio .row-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center
}

/* portefolio item */

#portfolio .portfolio-item {
    width: 325px;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    transition: .5s all;
    margin-right: 15px;
}

#portfolio .portfolio-item:nth-child(3n+0) {
    margin-right: 0;
}

#portfolio .portfolio-item:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    z-index: 40;
}

/* portefolio item imagem */
#portfolio .portfolio-item .portfolio-item-image {
    width: 100%;
    height: 290px;
    position: relative;
}

.portfolio-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* portefolio item imagem texto*/
.portfolio-item-image .portfolio-item-image-text {
    position: absolute;
    bottom: 20px;
    z-index: 15;
    left: 20px;
    border-left: 5px solid #c80000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    padding: 7px 10px
}

/* portefolio item title */

#portfolio .portfolio-item .portfolio-item-title {
    width: 100%;
    height: 48px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item .portfolio-item-title h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}

/* 
 *  SEPARADOR
 */

.separator {
    height: 170px;
    background: url(../images/separator/1.jpg) center 5px / 100% auto fixed no-repeat;
}


/* 
 *  GALERIA
 */

/* texto separador */

.textSeparator {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.textSeparator .textSeparator-title {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
}

.textSeparator .textSeparator-style {
    position: relative;
}

.textSeparator .textSeparator-style::before {
    content: '';
    position: absolute;
    width: 300px;
    height: 0px;
    left: calc( 100% + 30px );
    top: calc( 50% - 1px );
    border: 1px solid #CECBCB;
}

.textSeparator .textSeparator-style::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 0px;
    right: calc( 100% + 30px );
    top: calc( 50% - 1px );
    border: 1px solid #CECBCB;
}

.textSeparator .textSeparator-style p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* galeria */
#gallery #gallery-images{
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
}

#gallery #gallery-images .gallery-images-group {
    width: 240px;
    margin-right: 15px;
}

#gallery #gallery-images .gallery-images-group:last-child {
    margin-right: 0;
}
#gallery #gallery-images .gallery-image {
    width: 100%;
    height: 315px;
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
#gallery #gallery-images .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s all;
}
#gallery #gallery-images .gallery-image:hover img {
    transform: scale(1.1,1.1)
}
#gallery #gallery-images .gallery-image-200 {
    height: 200px;
}
#gallery #gallery-images .gallery-image-440 {
    height: 440px;
}

/* 
 *  SERVICOS
 */

#services {
    margin-bottom: 60px;
}

#services #services-items{
    display: flex ;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

#services #services-items .service {
    width: 240px;
    margin-right: 15px;
    position: relative;
}

#services #services-items .service:last-child {
    margin-right: 0;
}
#services #services-items .service .service-icon {
    width: 90px;
    height: 90px;
    border: solid 1px #c80000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: calc( 100% - 45px );
    left: calc( 50% - 45px );
    z-index: 16;
    transition: 1s all;
}

#services #services-items .service:hover .service-icon {
    transform: rotate(-360deg);
}

#services #services-items .service .service-icon .fas,
#services #services-items .service .service-icon .fa,
#services #services-items .service .service-icon .fas,
#services #services-items .service .service-icon .far {
    font-size: 38px;
    color: #212121;
}

#services #services-items .service .service-info {
    width: 100%;
    height: 270px;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

#services-items .service .service-info h4 {
    width: 210px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 20px;
}

#services-items .service .service-info p {
    width: 210px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000 /*4B4747*/;
    margin-bottom: 30px;
}

#services-items .service .service-info .btn {
    margin-bottom: 25px;
}

/* 
 *  EVENT
 */

#event {
    display: flex;
    height: 450px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.15)
}

#event-image {
    width: 50%;
    height: 100%;
    background: #212121;
}

#event-image img{
    width: 100%;
    height: 100%;
    object-fit: cover
}


#event-info {
    width: 50%;
    height: 100%;
    background: #fff;
    padding-left: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

#event-info h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 15px;
}


#event-info p{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;    
    margin-bottom: 20px;
    width: 430px;
}

/* 
 *  FOOTER
 */

#footer #footer-info {
    width: 100%;
    height: 200px;
    background: #212121;
}

#footer #footer-info .row-center {
    display: flex;
    height: 100%;
}

#footer #footer-info .footer-info-item {
    height: 100%;
    margin-right: 15px;
    padding-top: 40px;
}

#footer #footer-info .footer-info-item:last-child {
    margin-right: 0;
}
#footer #footer-info .footer-info-item h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 20px
}

#footer #footer-info .footer-info-item p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: rgba(255, 255, 255, 0.8);
}

#footer #footer-info .footer-info-item p small {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px
}

#footer-info-visao{
    width: 410px
}
#footer-info-social {
    width: 155px;
}

#footer-info-social #footer-info-social-icons {
    display: flex; 
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

#footer-info-social #footer-info-social-icons .footer-info-social-icon {
    font-size: 26px;
    color: #fff;
    opacity: .9;
    margin-right: 10px;
    margin-bottom: 10px;
}

#footer-info-social #footer-info-social-icons .footer-info-social-icon:hover {
    opacity: 1;
}


#footer-info-contact {
    width: 240px;
}

#footer-info-logo {
    padding-top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer #footer-copy {
    width: 100%;
    height: 50px;
    background: #000;
    
}

#footer #footer-copy .row-center {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer #footer-copy p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    opacity: 0.8;
}