/*
 * RESET
 */

*     { 
    /* Posicionamento e Espaçamento geral */
    padding: 0; margin: 0; box-sizing: border-box; outline: none;
    /* Tipografia */
    font-family: 'Roboto';
    font-size: 100%;
    font-weight: 400;
    color: #212121;
}
body  { background: #f8f8f8; }
img   { max-width: 100%; }
a     { text-decoration: none; }

.color-text {
    color: #000;
}
.row {
    width: 100%;
    max-width: 3000px;
}
.row .row-center {
    width: 1005px;
    margin: 0 auto;
}

.bg-linear {
    position: relative;
}

.bg-linear::before {
    content: '';
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(219.9deg, rgba(33, 33, 33, 0) 33.15%, rgba(200, 0, 0, 0.5) 100%);
}